.vscode/
.Rproj.user
.Rhistory
.RData*
data/
**/.ipynb_checkpoints/
results/*.bson
exports/
*.sif
outputs/
conda-env/
**/__pycache__/
**/*pyc
**/*.npz
model_dev_data/phil_controls.npy
wandb/
**/*.out
model_dev_data/graph_training_data.pkl
model_dev_data/hyads/**